<div class="login-container">
  <h2>Login</h2>
  <form (submit)="login()">
    <div>
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>
    <div>
      <label for="password">Senha:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <button (click)="cadastrar()">Não tem uma conta ainda? crie uma aqui!</button>
    <button type="submit">Entrar</button>
  </form>
</div>
